.ipadmeet {
    font-family: Apercu;
    font-style: normal;
    font-weight: 500;
    font-size: 15.4081px;
    line-height: 33px;
    letter-spacing: 0.01em;
    color: #454545;
}
.ipadbanner {
    height: 210px;
    width: 1275px;
    border-radius: 45px;
    background: #fffde7;
    margin-top: -30px;
}

.ipadmengreen{
    z-index: 2;
    position: absolute;
    width: 250.3px;
    height: 300.23px;
    background: #cbf2e2;
    border-radius: 33.5161px;
}

.ipadmenred{
    width: 250.3px;
    height: 300.23px;
    background: #fa8181;
    border-radius: 33.5161px;
    z-index: 2;
    position: absolute;
}
.madeinloveipad {
    font-family: Apercu;
    font-style: normal;
    font-weight: 500;
    font-size: 25.69px;
    line-height: 156.9%;
    /* or 56px */
    text-align: center;
    text-transform: capitalize;
    color: #000000;
  }
  
  .reachipad {
    font-family: Apercu;
    font-style: normal;
    font-weight: 300;
    font-size: 20.33px;
    line-height: 18px;
    /* or 63% */
    text-align: center;
    color: #000000;
  }
  
  .addressipad {
    font-family: Apercu;
    font-style: normal;
    font-weight: normal;
    font-size: 13.43px;
    line-height: 156.9%;
    /* or 35px */
    text-align: center;
    text-transform: capitalize;
    color: #000000;
  }
  
  .copyrightipad {
    font-family: Apercu;
    font-style: normal;
    font-weight: normal;
    font-size: 13.76px;
    line-height: 18px;
    /* identical to box height, or 104% */
    text-align: right;
    color: #000000;
  }